

.itemDetail{
    color: black;
    margin: 5px;
    
}

.itemDetail_img{
    width: 350px;
}

.itemDetail_title{
    margin: 10px;
    font-size: 18px;
    overflow-wrap: normal;
    max-width: 150px;
    height: 40px;
}
.itemDetail_price{
    padding: 20px;
    font-size: 25px;
}

.itemDetail_descripcion{
    padding-top: 15px;
    font-size: 20px;
}