

.itemDetail{
    color: black;
    margin: 5px;
    
}

.itemDetail_img{
    width: 350px;
}

.itemDetail_title{
    padding: 20px;
    font-size: 18px;
    height: 40px;
    text-align: center;
}

.itemDetail_price{
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.itemDetail_descripcion{
    padding-top: 15px;
    font-size: 20px;
}

.itemDetail_btnTerminarCompra{
    width: calc(100% - 20px);
    border: 1px solid black;
    background-color: rgba(122, 7, 103, 0.739);
    color: white;
    
    &:hover{
        background-color: white;
        color: rgba(122, 7, 103, 0.739);
        transition: 400ms;
    }
}

.notVisible{
    display: none;
}