.itemListContainer{
    margin: 100px;
    padding: 40px;
    text-align: center;
    background-color: whitesmoke;
    color: azure;
    font-size: larger;
}

.itemListContainer_titulo{
    color: black;
}