
.itemCount__container{
    width: 200px;
    
    height: 200px;
    background-color: rgb(223, 219, 219);
    border: solid 1px black;
    border-radius: 8px;
    padding: 5px;
    color: black;
}

.itemCount__containerCantidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    
}

.itemCount__producto{
    height: 60%;
}

.itemCount__numero{
    width: 30%;
    
}

.itemCount__btnAgregar{
    width: 100%;
    margin-top: 5px;
    &:hover{
        background-color: rgb(5, 199, 5);
        color: white;
    }
}
.itemCount__btnAgregar--off{
    width: 100%;
    margin-top: 5px;
}


.itemCount__btnCantidad{
    width: 30%;
    background-color: transparent;
    border: transparent;
    &:hover{
        background-color: black;
        color: white;
    }
}

.itemCount__btnCantidad--off{
    width: 30%;
    background-color: transparent;
    border: transparent;
}