
.itemCount{
    color: black;
    margin: 10px;

}

.itemCount__cantidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;
    
    
}

.itemCount__producto{
    height: 60%;
}



.itemCount__btnAgregar{
    width: 100%;
    border: 1px solid black;
    
    
    &:hover{
        background-color: rgb(5, 199, 5);
        color: white;
    }
}
.itemCount__btnAgregar--off{
    width: 100%;
    border: 1px solid black;
    
    
}


.itemCount__btnCantidad{
    width: 30%;
    background-color: transparent;
    border: transparent;
    &:hover{
        background-color: black;
        color: white;
    }
}

.itemCount__btnCantidad--off{
    width: 30%;
    background-color: transparent;
    border: transparent;
}
